<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MapView</title>
  <style type="text/css">
     html, body, #mapcanvas {
         height:  96%;
         margin:  0;
         padding: 10px;
     }
  </style>
</head>
<body><div id="mapcanvas"></div><script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script><script type="text/javascript">
var map;
var drawingManager = new google.maps.drawing.DrawingManager();
function initialize(mapOptions) {
  map = new google.maps.Map(document.getElementById('mapcanvas'), mapOptions);
}
function draw() {
  var overlayType = google.maps.drawing.OverlayType;
  drawingManager.setOptions({
    drawingMode : google.maps.drawing.OverlayType.POLYGON,
    drawingControl : true,
    drawingControlOptions : {
      position : google.maps.ControlPosition.TOP_RIGHT,
      drawingModes : [ overlayType.POLYGON ]
    },
    rectangleOptions : {
      strokeColor : 'red',
      fillColor : 'red',
      editable: true,
      draggable: true
    },
    polygonOptions : {
      editable: true,
      draggable: true
    }
  });
  drawingManager.setMap(map);
}
function captureDrawing() {
  google.maps.event.addListener(
    drawingManager,
    'overlaycomplete',
    function (polygon) {
	  var javaPolygon = gsehenGuiViewMap.getEmptyPolygon();
	  var polygonLatLngArray = polygon.overlay.getPath().getArray();
	  for (var i=0; i<polygonLatLngArray.length; i++) {
	    javaPolygon.addGeoPointByCoords(polygonLatLngArray[i].lng(), polygonLatLngArray[i].lat());
	  }
      gsehenGuiViewMap.polygonDrawn(javaPolygon);
    }
  );
}
</script>
</body>
</html>
