<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MapView</title>
  <style type="text/css">
     html, body, #mapcanvas {
         height:  96%;
         margin:  0;
         padding: 10px;
     }
  </style>
</head>
<body><div id="mapcanvas"></div><script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script><script type="text/javascript">
var map;
var drawingManager = new google.maps.drawing.DrawingManager();
function TypeControl(controlDiv, options) {
    // Set CSS for the control border.
    var controlUI = document.createElement('div');
    controlUI.style.backgroundColor = '#fff';
    controlUI.style.border = '2px solid #fff';
    controlUI.style.borderRadius = '3px';
    controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
    controlUI.style.cursor = 'pointer';
    controlUI.style.marginBottom = '22px';
    controlUI.style.textAlign = 'center';
    //controlUI.title = 'Click to recenter the map';
    controlDiv.appendChild(controlUI);

    // Set CSS for the control interior.
    var controlText = document.createElement('div');
    controlText.style.color = 'rgb(25,25,25)';
    controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
    controlText.style.fontSize = '14px';
    controlText.style.lineHeight = '38px';
    controlText.style.paddingLeft = '5px';
    controlText.style.paddingRight = '5px';
    var controlHTML = '';
    for (var i=0; i<options.length; i++) {
    	var option = options[i];
    	var selected = true;
    	if (controlHTML != '') {
    		controlHTML += ' ';
        	selected = false;
    	}
    	controlHTML += (
    		'<input type="radio" name="polygonType" value="' + option.key + '"' +
    		(selected ? " checked" : "") +
    		'>' + option.title + '</input>'
    	);
    }
    controlText.innerHTML = controlHTML;
    var inputs = controlText.getElementsByTagName("input");
    for (var i=0; i<inputs.length; i++) {
    	var input = inputs[i];
    	input.addEventListener('change', function() {
    	    alert("Setze Typ auf: " + this.value);
    	    selectedType = this.value;
    	});
    }
    controlUI.appendChild(controlText);
}
var selectedType = null;
function initialize(mapOptions, typeOptions) {
  if (typeOptions != null && typeOptions.length > 0) {
	  selectedType = typeOptions[0].key;
  }
  map = new google.maps.Map(document.getElementById('mapcanvas'), mapOptions);
  // From Google Maps API Doc
  var typeControlDiv = document.createElement('div');
  var typeControl = new TypeControl(typeControlDiv, typeOptions);
  //typeControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(typeControlDiv);
}
function draw() {
  var overlayType = google.maps.drawing.OverlayType;
  drawingManager.setOptions({
    drawingMode : google.maps.drawing.OverlayType.POLYGON,
    drawingControl : true,
    drawingControlOptions : {
      position : google.maps.ControlPosition.TOP_RIGHT,
      drawingModes : [ overlayType.POLYGON ]
    },
    rectangleOptions : {
      strokeColor : 'red',
      fillColor : 'red',
      editable: true,
      draggable: true
    },
    polygonOptions : {
      editable: true,
      draggable: true
    }
  });
  drawingManager.setMap(map);
}
function captureDrawing() {
  google.maps.event.addListener(
    drawingManager,
    'overlaycomplete',
    function (polygon) {
	  var javaPolygon = webController.getEmptyPolygon();
	  var polygonLatLngArray = polygon.overlay.getPath().getArray();
	  for (var i=0; i<polygonLatLngArray.length; i++) {
	    javaPolygon.addGeoPointByCoords(polygonLatLngArray[i].lat(), polygonLatLngArray[i].lng());
	  }
      webController.polygonDrawn(javaPolygon, selectedType);
    }
  );
}
</script>
</body>
</html>
