.root {
    -fx-base: #fcfcfc;
    -fx-color: -fx-base;

    -fx-font-family: "Tahoma";
    -fx-accent: rgb(246.0, 246.0, 246.0);
    -fx-default-button: -fx-accent;
    -fx-focus-color: rgb(222.0, 222.0, 222.0);
}

#glass-grey {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#f2f2f2 0.0%, #d9d9d9 20.0%, #d6d6d6 100.0%),
        linear-gradient(#dddddd 0.0%, #f6f6f6 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

#glass-grey:hover {
    -fx-background-color: linear-gradient(#d6d6d6, #e8e8e8);
}

.jfx-combo-box {
    -jfx-focus-color: #4a6d50;
    -jfx-unfocus-color: #8ed199;
}

.jfx-text-field {
    -fx-prompt-text-fill: #d18e8e;
    -jfx-focus-color: #4a6d50;
    -jfx-unfocus-color: #8ed199;
    -fx-highlight-fill: #606060;
}

.tree-table-view {
    -fx-background-color: #fcfcfc;
    -fx-font-weight: bold;
}
.tree-table-cell {
    -fx-padding: 0.1em 0.0em 0.1em 0.0em;
    -fx-background-color: #fcfcfc;
    -fx-text-fill: black;
    -fx-highlight-fill: #e8e8e8;
}
.tree-table-cell:selected {
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-background-color: #e8e8e8;
}

 /* JFX Tab Pane */
.jfx-tab-pane .headers-region {
    -fx-background-color: #afafaf;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #afafaf;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #c1c1c1;
}

.tab-selected-line {
    -fx-background-color: -fx-focus-color;
}

.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-text-fill: blue;
}
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: purple;
}
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-underline: true;
}
.hyperlink:visited:armed {
    -fx-underline: false;
}

#plotRecommendedActionText {
   -fx-font-size: 14.0px;
   -fx-font-family: "Arial Black";
   -fx-fill: Forestgreen;
   -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

#inactivePlot {
  -fx-font-size: 16.0px;
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );  
}