.root {
    -fx-base: #fdfffc;
    -fx-color: -fx-base;

    -fx-font-family: "Tahoma";
    -fx-accent: rgb(246.0, 246.0, 246.0);
    -fx-default-button: -fx-accent;
    -fx-focus-color: rgb(222.0, 222.0, 222.0);
}

#glass-grey {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0.0%, #d9d9d9 20.0%, #d6d6d6 100.0%),
        linear-gradient(#dddddd 0.0%, #f6f6f6 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,1.0;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.jfx-combo-box {
    -jfx-focus-color: #4a6d50;
    -jfx-unfocus-color: #8ed199;
}

.jfx-text-field {
    -fx-prompt-text-fill: #d18e8e;
    -jfx-focus-color: #4a6d50;
    -jfx-unfocus-color: #8ed199;
    -fx-highlight-fill: #606060;
}

.tree-table-view {
    -fx-background-color: #fdfffc;
    -fx-font-weight: bold;
}
.tree-table-cell {
    -fx-padding: 0.1em 0.0em 0.1em 0.0em;
    -fx-background-color: #fdfffc;
    -fx-text-fill: black;
    -fx-highlight-fill: #606060;
}
.tree-table-cell:selected {
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-background-color: #668c47;
}

 /* JFX Tab Pane */
.jfx-tab-pane .headers-region {
    -fx-background-color: #668c47;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #668c47;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #7c8911;
}

.tab-selected-line {
    -fx-background-color: -fx-focus-color;
}

.default-color0.chart-bar { 
    -fx-bar-fill: blue;
}

.default-color1.chart-bar { 
    -fx-bar-fill: purple;
}

.default-color2.chart-bar { 
    -fx-bar-fill: red;
}

.hyperlink,
.hyperlink:hover,
.hyperlink:hover:visited {
    -fx-text-fill: blue;
}
.hyperlink:armed,
.hyperlink:visited,
.hyperlink:hover:armed {
    -fx-text-fill: purple;
}
.hyperlink:hover,
.hyperlink:visited,
.hyperlink:hover:visited {
    -fx-underline: true;
}
.hyperlink:visited:armed {
    -fx-underline: false;
}