.tree-table-view {
    -fx-background-color: #C6C6C6;
    -fx-font-weight: bold;
}
.tree-table-cell {
    -fx-padding: 0.1em 0.0em 0.1em 0.0em;
    -fx-background-color: #AFC218;
    -fx-text-fill: #056B79;
}
.tree-table-cell:selected {
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-background-color: #899908;
}